@import './abstracts/colors';

@mixin footer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;

  #link {
    display: inline-block;
    color: $text-alt;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    padding: 1rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }

  #link.selected {
    background: $accent;
    color: $dark;
  }
}

.app {
}

#hero {
  height: 50vh;
  background-color: $bg-dark;
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .banner {
    padding: 2rem;

    h2 {
      color: $title;
      font-size: 2.33rem;
      font-weight: 700;
      letter-spacing: 0.05rem;
    }

    p {
      color: $text-alt;
      font-size: 1.33rem;
      font-weight: 400;
      letter-spacing: 0.05rem;
      margin: 2rem 0;
      width: 50%;
    }

    a {
      background: $accent;
      color: $dark;
      text-decoration: none;
      padding: 0.8rem 2rem;
      cursor: pointer;
      font-weight: 500;
      letter-spacing: 0.05rem;
      text-transform: uppercase;
    }
  }
}

#sticky {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  z-index: 100;
  height: 5rem;
  background-color: $bg-dark;

  @include footer;
}
#sticky.fixed {
  width: 100%;
  display: block;
  position: fixed;
  float: right;
  top: 0;

  @include footer;
}
