$dark: #011936;
$white: #ffffff;
$accent: #13b6f6;
$title: #1d70af;
$subtitle: #9dddfb;
$text-alt: #62aee4;
$text-dark: #1a659e;
$text-light: #b3e5fc;
$bg-white: #d6f5ff;
$bg-light: #eef8fc;
$bg-dark: #011936;
