{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content
%}
<div id="hero">
  <div class="banner">
    <h2>Tech News on the Fly</h2>
    <p>
      Seamlessly get the latest tech news from the best source available on the
      web, straight to your device
    </p>
  </div>
</div>
<div id="sticky">
  <nav class="footer">
    {% for source in sources %}
    <a href="/news/{{source.id}}">{{source.name}}</a>
    {% endfor %}
  </nav>
</div>
<div class="">
  <div class="">{{macro.displayArticles(headlines)}}</div>
</div>

{% endblock %}
