{% extends 'base.html' %} {% block content %}
<nav id="navbar">
  <a href="/">BASHIRI</a>
</nav>
<div id="hero">
  <div class="banner">
    <h2>News on the Fly</h2>
    <p>
      Seamlessly get the latest news from the best source available on the web,
      straight to your device
    </p>
  </div>
</div>
<div id="sticky">
  <nav class="footer">
    <a href="#">BBC</a>
    <a href="#">CNN</a>
    <a href="#">ABC</a>
    <a href="#">Washigton Post</a>
  </nav>
</div>
<div>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, numquam saepe
    exercitationem voluptatem fuga ut esse reiciendis voluptate distinctio
    inventore? Iure consequatur placeat architecto obcaecati nobis eaque,
    doloremque quas aperiam.
  </p>
</div>
{% endblock %}
