{% extends 'base.html' %} {% macro displayArticles(news_list) %} {% for article
in news_list %}
<div id="article">
  <img class="" src="{{article.urlToImage}}" alt="{{article.title}}" />

  <p class="date">{{article.publishedAt|truncate(10, False, '', 0) }}</p>
  <div class="">
    <h4 class="">{{article.title |truncate(64, False, '...', 0)}}</h4>
    <p class="">{{article.description |truncate(96, False, '...', 0)}}</p>
  </div>
  <a href="{{article.url}}">
    <p>view article</p>
    <img src="../assets/icons/arrow.svg" alt=""
  /></a>
</div>

{% endfor %} {% endmacro %} {% macro displaySources(sources_list) %} {% for
source in sources_list %}
<h4 class="">{{source.id}}</h4>
<h4 class="">{{source.name}}</h4>
<p class="">{{source.description}}</p>
<p class="">{{source.category}}</p>
<a class="" href="{{source.url}}">Go to Website</a>

{% endfor %} {% endmacro %} {% macro displayNav(nav_list) %} {% for nav in
nav_list %}
<h4 class="">{{nav.name}}</h4>
<p class="">{{nav.description}}</p>
<a class="" href="{{source.url}}">Go to Website</a>

{% endfor %} {% endmacro %}
