{% extends 'base.html' %} {% macro displayArticles(news_list) %} {% for article
in news_list %}
<a class="" href="{{article.url}}">
  <img class="" src="{{article.urlToImage}}" alt="{{article.title}}" />
  <h4 class="">{{article.title}}</h4>
  <p class="">{{article.description}}</p>
  <p class="">{{article.publishedAt}}</p>
</a>

{% endfor %} {% endmacro %} {% macro displaySources(sources_list) %} {% for
source in sources_list %}
<h4 class="">{{source.id}}</h4>
<h4 class="">{{source.name}}</h4>
<p class="">{{source.description}}</p>
<p class="">{{source.category}}</p>
<a class="" href="{{source.url}}">Go to Website</a>

{% endfor %} {% endmacro %} {% macro displayNav(nav_list) %} {% for nav in
nav_list %}
<h4 class="">{{nav.name}}</h4>
<p class="">{{nav.description}}</p>
<a class="" href="{{source.url}}">Go to Website</a>

{% endfor %} {% endmacro %}
